#jinja2: lstrip_blocks: True

upstream eda-api-backend {
    server unix:/var/run/ansible-automation-platform/eda/automation-eda-controller.sock;
}

upstream eda-daphne-backend {
    server unix:/var/run/ansible-automation-platform/eda/daphne.sock;
}

server {
  {% if not automationedacontroller_disable_https|bool %}
  listen                   {{ _automationedacontroller_https_port }} {{ _default_server }} ssl;
  {% if ansible_all_ipv6_addresses != [] %}
  listen [::]:{{ _automationedacontroller_https_port }} {{ _default_server }} ssl;
  {% endif %}
  {% else %}
  listen {{ _automationedacontroller_http_port }};
  {% if ansible_all_ipv6_addresses != [] %}
  listen [::]:{{ _automationedacontroller_http_port }};
  {% endif %}
  {% endif %}

  server_name               {{ _server_name }};
  root                      /var/lib/ansible-automation-platform/eda/ui;
  index                     index.html;

  {% if not automationedacontroller_disable_https|bool %}
  ssl_certificate           /etc/ansible-automation-platform/eda/server.cert;
  ssl_certificate_key       /etc/ansible-automation-platform/eda/server.key;
  ssl_protocols             {{ _nginx_tls_protocols | join(' ') }};
  ssl_session_cache shared:SSL:50m;
  ssl_session_timeout 1d;
  ssl_session_tickets off;

  # RHEL system crypto policy
  ssl_ciphers PROFILE=SYSTEM;
  ssl_prefer_server_ciphers on;
  {% endif %}

  {% if not automationedacontroller_disable_hsts | bool %}
  # HSTS (ngx_http_headers_module is required, max-age in seconds)
  add_header Strict-Transport-Security max-age={{ _nginx_hsts_max_age }};
  {% endif %}

  # headers added with nginx_user_headers variable
{% for header in automationedacontroller_user_headers %}
  add_header {{ header.rstrip('; ') }};
{% endfor %}
  # end of headers added with nginx_user_headers variable

  # Protect against click-jacking https://www.owasp.org/index.php/Testing_for_Clickjacking_(OTG-CLIENT-009)
  add_header X-Frame-Options "DENY";

  location ~ ^/api/eda/v1/ {
    proxy_pass              http://eda-api-backend;
    proxy_set_header        Host $host:$server_port;
    proxy_set_header        X-Forwarded-Proto $scheme;
    proxy_set_header        X-Forwarded-Host $host;
    proxy_set_header        X-Forwarded-Port $server_port;
    proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
  }

  location / {

    {% if not automationedacontroller_disable_hsts | bool %}
    # HSTS (ngx_http_headers_module is required, max-age in seconds)
    add_header Strict-Transport-Security max-age={{ _nginx_hsts_max_age }};
    {% endif %}

    # Protect against click-jacking https://www.owasp.org/index.php/Testing_for_Clickjacking_(OTG-CLIENT-009)
    add_header X-Frame-Options "DENY";
    add_header Cache-Control "no-cache, no-store, must-revalidate";
    add_header Expires "0";
    add_header Pragma "no-cache";
    try_files $uri $uri/ /index.html =404;

    # headers added with automationedacontroller_user_headers variable
{% for header in automationedacontroller_user_headers %}
    add_header {{ header.rstrip('; ') }};
{% endfor %}
    # end of headers added with nginx_user_headers variable
  }

  access_log /var/log/nginx/automationedacontroller.access.log main;
  error_log /var/log/nginx/automationedacontroller.error.log;
}

server {
  listen                   {{ _automationedacontroller_https_port }} ssl;
  {% if ansible_all_ipv6_addresses != [] %}
  listen [::]:{{ _automationedacontroller_https_port }} ssl;
  {% endif %}

  server_name               {{ _automationedacontroller_websocket_base_hostname }};

  ssl_certificate           /etc/ansible-automation-platform/eda/websocket.cert;
  ssl_certificate_key       /etc/ansible-automation-platform/eda/websocket.key;
  ssl_protocols             {{ _nginx_tls_protocols | join(' ') }};
  ssl_session_cache shared:SSL:50m;
  ssl_session_timeout 1d;
  ssl_session_tickets off;

  # RHEL system crypto policy
  ssl_ciphers PROFILE=SYSTEM;
  ssl_prefer_server_ciphers on;

  location ~ ^/api/eda/v1/ {
    proxy_pass              http://eda-api-backend;
    proxy_set_header        Host $host:$server_port;
    proxy_set_header        X-Forwarded-Proto $scheme;
    proxy_set_header        X-Forwarded-Host $host;
    proxy_set_header        X-Forwarded-Port $server_port;
    proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
  }

  location ~ ^/api/eda/ws/[0-9a-z-]+ {

    proxy_pass http://eda-daphne-backend;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header X-Forwarded-Port $server_port;
    proxy_set_header Host $http_host;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "Upgrade";

  }

{% if automationedacontroller_disable_https|bool %}
  location / {

    return 301 http://$host:{{ _automationedacontroller_http_port }}$request_uri;

  }
{% endif %}

  access_log /var/log/nginx/automationedacontroller.access.log main;
  error_log /var/log/nginx/automationedacontroller.error.log;

}

{% if not automationedacontroller_disable_https|bool %}
server {
    listen {{ _automationedacontroller_http_port }} {{ _default_server }};
    {% if ansible_all_ipv6_addresses != [] %}
    listen [::]:{{ _automationedacontroller_http_port }} {{ _default_server }};
    {% endif %}
    server_name {{ _server_name }};
    {% if _automationedacontroller_http_port|string == "443" %}
    return 301 https://$host$request_uri;
    {% else %}
    return 301 https://$host:{{ _automationedacontroller_https_port }}$request_uri;
    {% endif %}

    access_log /var/log/nginx/automationedacontroller.access.log main;
    error_log /var/log/nginx/automationedacontroller.error.log;
}
{% endif %}
