{% if not rpm_from_single_repo | bool %}
[automation-controller]
name=Automation Controller Repository - $releasever $basearch
baseurl={{ aw_repo_url }}/rpm/epel-{{ ansible_distribution_major_version }}-$basearch
enabled=0
gpgcheck={{ gpgcheck }}
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-release
priority=1

[ansible-automation-platform]
name=Ansible Automation Platform Repository - $releasever $basearch
baseurl={{ aw_repo_url }}/rpm/dependencies/{{ automation_platform_version[:3] }}/epel-{{ ansible_distribution_major_version }}-$basearch
enabled=0
gpgcheck={{ gpgcheck }}
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-release
module_hotfixes=1
exclude={{ controller_package_list | join(" ") }}
{% else %}
[ansible-automation-platform]
name=Ansible Automation Platform Repository - $releasever $basearch
baseurl={{ aw_repo_url }}/{{ automation_platform_version[:3] }}/epel-{{ ansible_distribution_major_version }}-$basearch
enabled=0
gpgcheck={{ gpgcheck }}
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-release
module_hotfixes=1
{% endif %}
